body {
    background: #CCCCCC;
  }
  
  .editor-controls {
    position: relative;
    width: 50%;
    height: 0;
    background: white;
    border-top: 2px solid #336699;
    border-left: 2px solid #336699;
  
  }
  
  .editor-controls.open {
    height: 10%;
  }
  
  .editor-controls-toggle {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    bottom: -14px;
    right: 0px;
    border-radius: 90px;
    background: #336699;
    color: white;
    z-index: 2;
  }
  
  .editor-controls-toggle i {
    padding-left: 3px;
  }
  
 
  
  .editor-container {
    position: relative;
    height: 650px;
    margin: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #E8ECEF;
    padding-top: 45px;
  }
  
  .news-item-container {
    position: relative;
    height: 620px;
  }
  
  .headers {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .headers .header {
    width: 50%;
    background: #336699;
    padding: 15px;
  }
  
  .editor-section-wrapper {
    height: 100%;
  }
  
  .editor-section {
    position: absolute;
    top: 0;
    width: 50%;
    height: 95%;
    border: 2px solid #336699;
  }
  
  #editor {
    left: 0;
    border-right: 1px solid #336699;
    height: 94.6%;
    -webkit-transition: .25s ease-in-out;
  }
  
  #editor.controls-open {
    height: 85%;
  }
  
  #preview {
    right: 0;
    background: #FFFFFF;
    border-left: 1px solid #336699;
  }
  
  /* helpers */
  
  .bolded {
    font-weight: bold;
  }
  
  .underlined {
    text-decoration: underline;
  }
  
  .italic {
    font-style: italic;
  }