<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	

	
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
		<param-name>movie</param-name>
		<param-value>sholay</param-value>
	</context-param>
	<servlet>
		<servlet-name>myFirstServlet</servlet-name>
		<servlet-class>com.covalense.mywebapp.servlets.MyFirstServlet</servlet-class>
		<init-param>
			<param-name>actor</param-name>
			<param-value>gabbar singh</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ReadirectServlet</servlet-name>
		<display-name>ReadirectServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.ReadirectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectServlets</servlet-name>
		<display-name>RedirectServlets</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.RedirectServlets</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>IncudeServlet</servlet-name>
		<display-name>IncudeServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.IncudeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadCookieServlet</servlet-name>
		<display-name>ReadCookieServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.ReadCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myJsp</servlet-name>
		<url-pattern>/currentDateJsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>myFirstServlet</servlet-name>
		<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadirectServlet</servlet-name>
		<url-pattern>/ReadirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlets</servlet-name>
		<url-pattern>/RedirectServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlets</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/ForwardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncudeServlet</servlet-name>
		<url-pattern>/IncudeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncudeServlet</servlet-name>
		<url-pattern>/inculde</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadCookieServlet</servlet-name>
		<url-pattern>/ReadCookieServlet</url-pattern>
	</servlet-mapping>


</web-app>